
@{
    ViewData["Title"] = "comprar";
}

<form action="process_payment" method="POST">
    <script src="https://www.mercadopago.com.uy/integrations/v1/web-tokenize-checkout.js"
            data-public-key="TEST-8e9bde45-0abc-400d-9b25-4d0e550fed7d"
            data-transaction-amount="100.00">
    </script>
    
</form>